<template>
  <v-footer fixed class="footer-wrapper container">
    <div class="list-icons w-100 text-center">
      <a href="https://instagram.com/soyae11"><v-icon>mdi-instagram</v-icon></a>
    </div>
  </v-footer>
</template>

<script>
export default {
  name: "Footer",
};
</script>

<style scoped>
</style>