<template>
  <div class="navbar-wrapper text-center w-100">
    <div class="title-wrapper">
      <h1 id="title">Farhan Sangaji</h1>
    </div>
    <div class="navbar mx-auto">
      <router-link v-for="route in routes" :to="route" :key="route.path">
        <span>{{ route.name }}</span>
      </router-link>
    </div>
  </div>
</template>

<style scoped>
.navbar-wrapper {
  position: sticky;
  top: 0;
  margin-top: 1.5rem;
  transition: 1s;
  z-index: 1000;
  background-color: white;
}
#title {
  font-family: "Mate SC", serif;
  color: #5e8b7e;
  font-size: 56px;
  text-transform: lowercase;
}
.navbar {
  width: 30%;
  margin-top: 2rem;
}
.navbar a {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 18px;
}
@media only screen and (max-width: 868px) {
  .navbar {
    width: 80vw;
    margin-top: 2rem;
  }
}
</style>

<script>
export default {
  name: "MainCard",
  data: () => ({
    routes: [],
  }),
  created() {
    window.addEventListener("scroll", this.handleScroll);
    this.$router.options.routes.forEach((element) => {
      if (element.meta && element.meta.navbar) this.routes.push(element);
    });
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  methods: {
    handleScroll() {
      const titleStyle = document.querySelector("#title").style;
      const navbarWrapperStyle =
        document.querySelector(".navbar-wrapper").style;
      if (window.scrollY <= 120) {
        titleStyle.transform = "scale(1)";
        titleStyle.fontFamily = "'Mate SC', serif";
        titleStyle.textTransform = "lowercase";
        titleStyle.color = "#5e8b7e";
        navbarWrapperStyle.marginTop = "1.5rem";
      } else {
        titleStyle.transform = "scale(0.4)";
        titleStyle.fontFamily = "'Viaoda Libre', cursive";
        titleStyle.textTransform = "capitalize";
        titleStyle.color = "black";
        navbarWrapperStyle.marginTop = "-1rem";
      }
    },
  },
};
</script>
