<template>
  <div class="container pb-3">
    <div class="row">
      <div class="col-lg-3 p-5">
        <v-img
          class="mx-auto mt-3 rounded-circle"
          min-height="140px"
          max-height="140px"
          min-width="140px"
          max-width="140px"
          src="@/assets/image/main.jpg"
        />
      </div>
      <div class="col-9 p-5 mt-3">
        <p v-for="(about, i) in abouts" v-bind:key="i" v-html="about" />
      </div>
    </div>
  </div>
</template>

<script>
import configJSON from "@/components/core/config";
export default {
  name: "About",
  data: () => ({
    abouts: configJSON.data.about,
  }),
};
</script>
