<template>
  <div class="container pb-5 mb-3">
    <v-row>
      <v-col v-for="(work, i) in works" :key="i" lg="6">
        <v-card outlined class="text-center px-1 pb-1">
          <p v-html="work.title" class="card-title" />
          <v-img
            max-height="248px"
            min-height="248px"
            :src="
              require(`@/assets/image/work/${work.imageFolder}/${work.thumbnail}`)
            "
            alt="Tangria"
          >
            <v-card
              class="px-3"
              min-width="56px"
              max-height="26px"
              style="position: absolute; bottom: 8px; right: 8px"
            >
              <p v-html="work.framework"></p>
            </v-card>
          </v-img>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import configJSON from "@/components/core/config";
export default {
  name: "Work",
  data: () => ({
    works: configJSON.data.work,
  }),
};
</script>

<style scoped>
.card-title {
  font-family: "Mate SC", serif;
  font-weight: normal;
  text-transform: lowercase;
  font-size: 24px;
}
</style>