<template>
  <div id="app">
    <Navbar class="mb-5"/>
    <router-view></router-view>
    <Footer/>
  </div>
</template>

<script>
import Navbar from "./components/core/Navbar";
import Footer from "./components/core/Footer";

export default {
  name: "App",

  components: {
    Navbar,
    Footer,
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Mate+SC&family=Viaoda+Libre&family=Poppins:wght@100&display=swap");
@media only screen and (min-width: 768px) {
  /* html,
  body {
    overflow: hidden;
  } */
}
#app {
  font-family: "Nunito";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
p {
  font-family: "Poppins", serif;
  font-weight: bold;
  color: black;
}
</style>